@font-face {
  font-family: "circular";
  src: url("./Circular.ttf");
}

body {
  font-family: "circular", sans-serif;
  font-weight: 400;
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.tabs {
  display: flex;
  width: max-content;
  margin-inline: auto;
  margin-bottom: 10px;
}

.tab {
  font-size: 16px;
  margin-inline: 10px;
  cursor: pointer;
  position: relative;
}

.tab.active::before,
.tab.inactive::before {
  content: "";
  height: 3px;
  width: 100%;
  background: #f85563;
  position: absolute;
  bottom: -8px;
  display: block;
}

.tab.active::before {
  animation: activeClick forwards;
  animation-duration: 0.5s;
}

.tab.inactive::before {
  animation: deactivate forwards;
  animation-duration: 0.2s;
}

@keyframes activeClick {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes deactivate {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

.form {
  width: clamp(200px, 50vw, 400px);
  margin-inline: auto;
}

.form .textInput {
  padding: 20px 15px;
  width: calc(100% - 30px);
  font-size: 16px;
  border: 1px solid #ccc;
  outline: none;
  font-family: "circular", sans-serif;
  font-weight: 400;
}

.field {
  position: relative;
}

.label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #888;
  transition: 0.4s;
  font-family: "circular", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.top-spacing {
  margin-top: 15px;
}

.field .textInput:focus ~ label,
.field .textInput:valid ~ label {
  top: 20px;
  font-size: 12px;
}

.field .textInput:focus,
.field .textInput:valid {
  padding-top: 25px;
  padding-bottom: 15px;
}

.errorMsgEmail {
  margin-top: 2px;
  font-size: 12px;
  margin-left: 5px;
  color: #f85563;
  opacity: 0;
}

.field.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.submitBtn {
  border: none;
  outline: none;
  background: #232323;
  color: #fff;
  font-size: 15px;
  padding: calc((2 / 3) * 15px) 15px;
  border-radius: 3px;
  cursor: pointer;
}

.forgotPassword {
  text-decoration: none;
  color: #000;
  margin-right: 15px;
  font-size: 14px;
}

.forgotPassword:hover {
  text-decoration: underline;
}

.errorBox {
  text-align: right;
  color: #f85563;
}

.error {
  margin-top: 5px;
  font-size: 14px;
}

.error.hidden {
  opacity: 0;
}
